.background {
    -fx-background-color: linear-gradient(to bottom left, #c850c0,#4158d0);
}

.login-register{
    -fx-background-color: #ffffff;
}

.title-text {
    -fx-font-weight: 800;
}

.login-button{
    -fx-background-color: #6c32ad;
}